<html lang="en">

{{!-- Head --}}
{{> head}}

<body>
    {{!-- Navbar --}}
    {{> navbar}}

    {{!-- Body --}}
    <div>
        {{{body}}}
    </div>

    {{!-- Footer --}}
    {{> footer}}
</body>

</html>